body {
    background-color: black;
    color: white;
    font-family: 'Lucida Console', monospace;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
}

.topnavbar {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 225;
    flex-shrink: 2;
    overflow-x: scroll;
    overflow-y:auto;
    height: 48px;
    width: 100%px;
    padding-top: 8px;
    right: 0;
    left: 0;
    top: 0;
    background-color: #222;
}

.pagetitle {
    font-size: 32px;
    text-decoration: underline;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    padding-top: 128px;
}

.main {
    padding-top: 16px;
    padding-bottom: 64px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
}

/* .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    bottom: 0;
}

/* .badges {

} */ */

.footer {
    height: 16px;
    width: 100%px;
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.footer-mainpage {
    display: flex;
    bottom: 0;
    position: relative;
    justify-content: center;
    align-content: baseline;
    height: 64px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15%;
}