body {
    background-color: black;
    color: crimson;
    font-family: 'Lucida Console', monospace;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.topnavbar {
    height: 48px;
    width: 100%px;
    padding-top: 8px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #222;
}

.pagetitle {
    font-size: 32px;
    text-decoration: underline;
    margin-left: 15%;
    text-align: left;
    padding-top: 128px;
}

.main {
    padding-top: 16px;
    padding-bottom: 64px;
    margin-left: 15%;
    text-align: left;
}

/* .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    bottom: 0;
}

/* .badges {

} */ */

.footer {
    height: 16px;
    width: 100%px;
    position: bottom;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.footer-mainpage {
    display: flex;
    position: absolute;
    height: 64px;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 0;
    justify-content: center;
}